<div class="container-fluid">
    <div class="row ">
        <div class="col-3 px-3 position-fixed" id="sticky-sidebar">
           <div id="indicator" ></div>
        </div>
        <div class="col-12"  >
            <div class="container max-width-50" >
                <h1 class="mt-3">{h1}</h1>
                {img}
                <div>{toc}</div>
                <div id="main" >
                    <span   class="text-secondary metainfo">published {published} • updated {updated} • by CJ • {read_time}</span>
                    <p  class="mb-5"></p>
                    {content}
                </div>
            </div>
        </div>
    </div>
</div>