<div class="container max-width-80">
    <p class="mt-5 "></p>






    <div class="container">
        <div class="row">
            <div class="col-4">
                <h3>Input 1 </h3>
                <div id="table1"></div>
             </div>

            <div class="col-4">
                <h3>Input 2 </h3>
                <div id="table2"></div>
            </div>

            <div class="col-4">

                <select id="jointype" class="form-select width50" style="display:inline-block;width:48%;margin:0px;" aria-label="Default select example">
                  <option value="left" selected>Left Join</option>
                  <option value="right">Right Join</option>
                  <option value="inner">Inner Join</option>
                  <option value="outer">Outer Join</option>
                </select>
                <button id="download" type="button" class="btn btn-primary width50" style="display:inline-block;width:48%;margin:0px;" > download</button>
                <div id="table3"  ></div>
            </div>
        </div>

    </div>


    <p class="mt-5 "></p>
    <div>
        <ul>
            How to use:
            <li>Copy paste your sheet 1 into the left table</li>
            <li>Copy paste your sheet 2 into the right table</li>
            <li>Make sure the key is the first column of both tables</li>
            <li>Make sure the key column name is the same</li>
        </ul>
    </div>
</div>



