<div class="container-fluid">
    <div class="row">

        <div class="col-4 px-1 position-fixed" id="sticky-sidebar">
           <div id="indicator" ></div>
        </div>
        <div class="col " id="main">
            <div class="container max-width-50" >
                <h1>{h1}</h1>
                <time class="text-secondary">{time}</time>
                <img src="{img}" class="mt-3">
                <div>{toc}</div>
                <p class="mb-5"></p>
                <p class="mb-5 ">{summary}</p>
                {content}
                <div id="footer">
                  <div class="container text-center">
                    <p class="text-muted credit" style="color:#fff">{footer}</p>
                  </div>
                </div>
            </div>
        </div>


    </div>
</div>



