<nav class="navbar navbar-expand-lg" aria-label="Eighth navbar example">
  <div class="container">
      <a href="{url_index}" class="navbar-brand fw-bold">
          {blog_logo}.</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarinstance" aria-controls="navbarinstance" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarinstance">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
                 <a class="nav-link" href="https://sicksheet.com/join" >
                     <i class="fa-solid {icon}">
                     </i>Join tables
                 </a>
            </li>


          <li class="nav-item dropdown">
                 <a class="nav-link" href="{url_index}" >
                     <i class="fa-solid {icon}">
                     </i>blog
                 </a>
            </li>


      </ul>
    </div>
  </div>
</nav>