<!DOCTYPE html>
<html lang="en">
<head>
    <title>{title} • {blog_url}</title>
    <meta charset="UTF-8">
    <meta name="description" content="{metadescription}">
    <meta name="keywords" content="{metakeywords}">
    <meta name="author" content="CJ Huang">
    <meta name="viewport" content="width=device-width,  initial-scale=1, maximum-scale=1">

    <script>
    url=window.location.href
    hashtag=url.split("#")[1]
    if (typeof hashtag =="string"){
        hashtag="#"+hashtag
    }else{
        hashtag=""
    }
    location.href="{redirect}"+hashtag
    </script>
</head>
</html>