<select id="jointype" class="form-select width50" style="display:inline-block;width:100%;margin:0px;" >
                                  <option value="left" selected>Left Join</option>
                                  <option value="right">Right Join</option>
                                  <option value="inner">Inner Join</option>
                                  <option value="outer">Outer Join</option>
                                </select>
                            <img id="joinimg" alt="Join type image as Venn Diagram" src="" width="350" height="190" >
